
/*========================================
 *  Colours
 *========================================*/

$white:          #fff;
$grey-lightest:  #f2f5f7;
$grey-lighter:   #dadcdf;
$grey-light:     #a1a5a9;
$grey:           #74787d;
$grey-dark:      #47484a;
$grey-darker:    #2e2e2e;
$grey-darkest:   #1F292D;
$black:          #0d0d0d;

$brand-light:   #4996B2;
$brand:         #286B83;
$brand-dark:    #004359;

$background:    #4996B2;