
/*========================================
 *  Colours
 *========================================*/

$white:          #fff;
$grey-lightest:  #f2f5f7;
$grey-lighter:   #dadcdf;
$grey-light:     #a1a5a9;
$grey:           #74787d;
$grey-dark:      #47484a;
$grey-darker:    #2e2e2e;
$grey-darkest:   #1F292D;
$black:          #000000;

$brand-pink:    #FF006B;
$brand-light:   #4996B2;
$brand:         #1D5984;
$brand-dark:    #002E59;

$background:    #002E59;