
/*========================================
 *  Colours
 *========================================*/

$white:          #fff;
$grey-lightest:  #f2f5f7;
$grey-lighter:   #dadcdf;
$grey-light:     #a1a5a9;
$grey:           #74787d;
$grey-dark:      #47484a;
$grey-darker:    #2e2e2e;
$grey-darkest:   #1F292D;
$black:          #0d0d0d;

$brand-lighter: #a76afe;
$brand-light:   #9246ff;
$brand:         #7a00ff;
$brand-dark:    #6106ce;
$brand-darker:  #4c09a6;

$background:    #859db1;