
/*========================================
 *  @font-face
 *========================================*/

@font-face {
   font-family: 'Maisonneue';
   src: url('../fonts/maisonneue_bold.eot');
   src: url('../fonts/maisonneue_bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/maisonneue_bold.woff') format('woff'),
        url('../fonts/maisonneue_bold.otf') format('opentype'),
        url('../fonts/maisonneue_bold.svg') format('svg');
   font-weight: bold;
   font-style: normal; }

@font-face {
   font-family: 'Maisonneue';
   src: url('../fonts/maisonneue_book.eot');
   src: url('../fonts/maisonneue_book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/maisonneue_book.woff') format('woff'),
        url('../fonts/maisonneue_book.otf') format('opentype'),
        url('../fonts/maisonneue_book.svg') format('svg');
   font-weight: normal;
   font-style: normal; }

@font-face {
   font-family: 'Maisonneue Mono';
   src: url('../fonts/maisonneue_mono.eot');
   src: url('../fonts/maisonneue_mono.eot?#iefix') format('embedded-opentype'),
        url('../fonts/maisonneue_mono.woff') format('woff'),
        url('../fonts/maisonneue_mono.otf') format('opentype'),
        url('../fonts/maisonneue_mono.svg') format('svg');
   font-weight: normal;
   font-style: normal; }