
/*========================================
 *  Helpers
 *========================================*/

// accessible hide element
.hidden { display: none; visibility: hidden; height: 0 !important; overflow: hidden; }


/*========================================
 *  Shadows
 *========================================*/

.shadow {
  box-shadow: 0 1px 2px 0 rgba($black,0.25);
  &--xs { box-shadow: 0 1px 2px 0 rgba($black,0.25); }
  &--sm { box-shadow: 0 2px 3px 0 rgba($black,0.25); }
  &--md { box-shadow: 0 3px 5px 0 rgba($black,0.25); }
  &--lg { box-shadow: 0 4px 10px 0 rgba($black,0.25); }
  &--xl { box-shadow: 0 5px 15px 0 rgba($black,0.25); }
}


/*========================================
 *  Rounded
 *========================================*/

.rounded {
  border-radius: 3px; overflow: hidden;
  &--xs { border-radius: 3px; overflow: hidden; }
  &--sm { border-radius: 5px; overflow: hidden; }
  &--md { border-radius: 10px; overflow: hidden; }
  &--lg { border-radius: 15px; overflow: hidden; }
  &--xl { border-radius: 20px; overflow: hidden; }
}

