
{% if page.document.theme_dark or page.theme == 'dark' %}
  {% assign logo = cms.logo_white.url %}
  {% assign theme = "dark" %}
{% else %}
  {% assign logo = cms.logo.url %}
  {% assign theme = "light" %}
{% endif %}

<header class="header">
  <div class="container container--100 theme--{{theme}}">
    <div class="row row--valign-center">
      <div class="col--6">
        <a href="/" id="track-logo" class="logo {{include.class}}"><img src="{{logo}}" alt="HGC logo"></a>
      </div>
      <div class="col--6">
        {% assign nav-pages = site.html_pages | where: 'nav', 'true' | sort: 'nav-order' %}
        <div class="nav">
          {% for nav-page in nav-pages %}<div class="nav__item">
            <a class="nav__link" href="{{site.baseurl}}{{nav-page.url}}">
              {% if nav-page.nav-title %}
                {{nav-page.nav-title}}
              {% else %}
                {{nav-page.title}}
              {% endif %}
            </a>
          </div>{% endfor %}
          <div class="nav__item">
            <a class="nav__link" href="mailto:hamishjgray@gmail.com">Get in touch</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
