
{% assign metaTitle = cms.title %}
{% assign metaDescription = cms.metaDescription %}
{% assign thumbnail = cms.thumbnail.url %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HGC • {{metaTitle}}</title>
  <meta name="description" content="{{metaDescription}}">
  <!-- START Social Data -->
  <!-- Google / Search Engine Tags -->
  <meta itemprop="name" content="{{metaTitle}}">
  <meta itemprop="description" content="{{metaDescription}}">
  <meta itemprop="image" content="{{thumbnail}}">
  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="{{site.url}}{{site.baseurl}}{{page.url}}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{metaTitle}}">
  <meta property="og:description" content="{{metaDescription}}">
  <meta property="og:image" content="{{thumbnail}}">
  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@secret_escapes">
  <meta name="twitter:title" content="{{metaTitle}}">
  <meta name="twitter:description" content="{{metaDescription}}">
  <meta name="twitter:image" content="{{thumbnail}}">
  <!-- END Social Data -->

  <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i|Noto+Serif" rel="stylesheet">
  <link rel="stylesheet" href="{{site.css}}/main.css">
  {% if page.extra-css %}<link rel="stylesheet" href="{{site.css}}/{{page.id}}.css">{% endif %}
  <script src="{{site.js}}/main.js"></script>
  {% if page.extra-js %}<script src="{{site.js}}/{{page.id}}.js"></script>{% endif %}
</head>