
{% assign slides = section.image %}
<div class="container vpad--xl">
  <div class="gallery" id="gallery__{{page.document.slug}}">
    {% for slide in slides %}
      <div class="gallery__slide{% if forloop.first%} is-open{% endif %}">
        <div class="img img--16-9" style="background-image: url({{slide.file.url}});"></div>
      </div>
    {% endfor %}
    <div class="gallery__slide-sizer"></div>

    <div class="">
      <div class="js-gallery-nav gallery__nav gallery__nav--next" data-target="gallery__{{page.document.slug}}" data-nav-direction="next"></div>
      <div class="js-gallery-nav gallery__nav gallery__nav--previous" data-target="gallery__{{page.document.slug}}" data-nav-direction="prev"></div>
    </div>
  </div>
</div>