
{% assign images = section.inline_image %}

<div class="container vpad--xl">

  {% if images.size > 1 %}

    <div class="row">
      {% assign cols = images.size %}
      {% for image in images %}
      <div class="project__image col-{{ 12 | divided_by:cols }}">
        <img src="{{image.url}}">
        {% if image.caption %}
          <div class="project__caption">{{image.caption}}</div>
        {% endif %}
      </div>
      {% endfor %}
    </div>

  {% else %}

    {% for image in images %}
    <div class="project__image">
      <img src="{{image.url}}">
      {% if image.caption %}
        <div class="project__caption">{{image.caption}}</div>
      {% endif %}
    </div>
    {% endfor %}

  {% endif %}

</div>