
{% if section.ratio == 'ratio_1_2' %}
  {% assign ratio = "1-2" %}
{% elsif section.ratio == 'ratio_2_3' %}
  {% assign ratio = "2-3" %}
{% elsif section.ratio == 'ratio_3_4' %}
  {% assign ratio = "3-4" %}
{% elsif section.ratio == 'ratio_1_1' %}
  {% assign ratio = "1-1" %}
{% elsif section.ratio == 'ratio_4_3' %}
  {% assign ratio = "4-3" %}
{% elsif section.ratio == 'ratio_3_2' %}
  {% assign ratio = "3-2" %}
{% elsif section.ratio == 'ratio_16_9' %}
  {% assign ratio = "16-9" %}
{% elsif section.ratio == 'ratio_2_1' %}
  {% assign ratio = "2-1" %}
{% elsif section.ratio == 'ratio_21_9' %}
  {% assign ratio = "21-9" %}
{% elsif section.ratio == 'ratio_3_1' %}
  {% assign ratio = "3-1" %}
{% else %}
  {% assign ratio = "16-9" %}
{% endif %}

<div>
  <div class="img img--4-3 img--xxl-{{ratio}}" style="background-image: url({{section.file.url}});"></div>
</div>
{% assign ratio = %}
