
/*========================================
 *  Styles for the microsite nav
 *========================================*/

.nav {
  position: relative;
  padding: $s2;
  width: 100%;
  background-color: $black;
  z-index: $z-nav-upper;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  &__logo {
    max-width: 40px;
    display: inline-block;
    margin: auto;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: auto;
    text-align: center;
    color: $white !important;
    white-space: nowrap;
    width: 100%;
  }
  &__link {}

  @include bp($lg){
    @include transition(1s);
    position: fixed;
    top: 0;
    left: -100px;
    padding: $s6 0;
    width: 100px;
    height: 100%;
    flex-direction: column;
    &__logo {
      max-width: 60px;
    }
    &__link {
      transform: rotate(-90deg);
    }
    body.ready & {
      left: 0;
    }
    body.exiting & {
      left: -100px;
    }
  }
}

