
/*========================================
 *  Default type settings
 *========================================*/

$font:       'Merriweather', 'Helvetica Neue', sans-serif;
$font-title: 'Maisonneue', 'Helvetica Neue', sans-serif;
$font-mono:  'Maisonneue Mono', 'Helvetica Neue', sans-serif;

html { // This is the root size for REM
  font-size: 81.25%; // = 13px
  @include bp($md) { font-size: 87.5%; } // = 14px
  @include bp($xl) { font-size: 92.5%; } // = 15px
}

body {
  font-family: $font;
  -webkit-text-size-adjust: 100%;
  font-weight: 300;
  line-height: 1.65;
  letter-spacing: .015rem;
  color: $white;
  background-color: $brand-darker;
}

.theme--light {
  color: $grey-dark;
  & .t { color: $grey-darkest; }
  & hr { background-color: rgba($grey-darkest,0.2); }
}
.theme--dark {
  color: $white;
  & .t { color: $white; }
  & hr { background-color: rgba($white,0.2); }
}
