
/*========================================
 *  Text classes and styles
 *  [general modifier styles for text]
 *========================================*/

.p {
  font-weight: 300;
  &--xxxxl  { font-size: $s1; }
  &--xxxl   { font-size: $s1; }
  &--xxl    { font-size: $s1; }
  &--xl     { font-size: $s1; }
  &--lg     { font-size: $s1; }
  &--md     { font-size: $s0; }
  &--sm     { font-size: $s-1; }
  @include bp($xl){
    &--xxxxl  { font-size: $s5; }
    &--xxxl   { font-size: $s4; }
    &--xxl    { font-size: $s3; }
    &--xl     { font-size: $s2; }
  }
}