
/*========================================
 *  Text classes and styles
 *  [general modifier styles for text]
 *========================================*/

.p {
  font-weight: 300;
  &--xl  { font-size: $s2; }
  &--lg  { font-size: $s1; }
  &--nm  { font-size: $s0; }
  &--sm  { font-size: $s-1; }
  // weights
  &--200      { font-weight: 200; }
  &--300      { font-weight: 300; }
  &--400      { font-weight: 400; }
  &--500      { font-weight: 500; }
  &--600      { font-weight: 600; }
  // styles
  &--italic { font-style: italic; }
  &--kern   { letter-spacing: 0.15em; }
  &--upper   { text-transform: uppercase; }
}