
/*========================================
 *  Title classes and styles
 *  [title sizing with incremental numbered growth like default HTML]
 *========================================*/

.t {
  font-family: $font-title;
  font-weight: 300;
  color: $grey-darkest;
  .text--white { color: $white; }
  @include font-smoothing;
  &1 { font-size: $s7; line-height: 1.15; }
  &2 { font-size: $s6;  line-height: 1.2; }
  &3 { font-size: $s4;  line-height: 1.3; }
  &4 { font-size: $s2;  line-height: 1.36; }
  &5 { font-size: $s1;  line-height: 1.42; }
  &6 { font-size: $s0;  line-height: 1.45; }
  &7 { font-size: $s0;  line-height: 1.45; }
  &8 { font-size: $s0;  line-height: 1.45; }
  @include bp($lg){
    &1 { font-size: $s9; line-height: 1.1; }
    &2 { font-size: $s7; line-height: 1.15; }
    &3 { font-size: $s6; line-height: 1.2; }
    &4 { font-size: $s5; line-height: 1.32; }
    &5 { font-size: $s4; line-height: 1.32; }
    &6 { font-size: $s3; line-height: 1.32; }
    &7 { font-size: $s2; line-height: 1.32; }
    &8 { font-size: $s1; line-height: 1.38; }
  }
  // weights
  &--200 { font-weight: 200; }
  &--300 { font-weight: 300; }
  &--400 { font-weight: 400; }
  &--500 { font-weight: 500; }
  &--600 { font-weight: 600; }
  &--700 { font-weight: 700; }
  // modifiers
  &--italic { font-style: italic; }
  &--wide   { letter-spacing: 0.15em; }
  &--upper   { text-transform: uppercase; }

  // pre-styled
  &-subtitle {
    font-family: $font-title;
    font-weight: 600;
    letter-spacing: 0.15em;
    text-transform: uppercase;
  }
  &-banner {
    font-family: $font-title;
    font-weight: 600;
    font-size: $s9;
    line-height: 1.1;
    @include bp($lg){
      font-size: $s10;
    }
  }
}
