
/*========================================
 *  Styles for the microsite nav
 *========================================*/

$nav-color: $brand;
$header-height: 85px;
$header-offset: 30px;

.header {
  position: fixed;
  height: $header-height;
  top: $header-offset;
  left: 0;
  right: 0;
  z-index: $z-nav-upper;
  &__offset:before {
    content: "";
    display: block;
    height: $header-height+$header-offset*2;
    min-height: $header-height+$header-offset*2;
  }
}


.nav {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 0;

  &__item {
    display: flex;
    flex: 1 0 auto;
    border-right: 1px solid rgba($white,.15);
    .theme--light & {
      border-right: 1px solid rgba($grey-darkest,.15);
    }
    &:last-child { border-right: 0; }
  }
  &__link {
    @include transition;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: $s0 $s2;
    font-family: $font-title;
    font-weight: 600;
    font-size: $s-1;
    letter-spacing: .143em;
    text-transform: uppercase;
    color: $white;
    opacity: 0.8;
    white-space: nowrap;
    .theme--light & { color: $grey-darkest; }
    &.is-current,
    &:hover { opacity: 1; }
  }
}