
/*========================================
 *  Buttons
 *========================================*/

.btn {
  position: relative;
  display: inline-block;
  padding: $s2 $s6 $s2*0.8;
  color: $white;
  background-color: $brand-light;
  font-family: $font-title;
  font-weight: 600;
  font-size: $s0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .25em;
  line-height: 1.33;
  border-radius: 3px;
  cursor: pointer;
  @include transition;
  &--sm { padding: $s0 $s3 $s0*0.8; font-size: $s-1; }
  &--lg { padding: $s2 $s6 $s2*0.9; font-size: $s1; }
  &--brand { background-color: $brand-light;
    &:hover { background-color: $brand; }
  }
  &--white { background-color: $white; color: $brand-light;
    &:hover { background-color: $white; color: $brand; }
  }
  &--outline {
    color: inherit;
    background-color: transparent;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 1px solid $brand-light;
      border-radius: inherit;
    }
    &:hover {
      color: $white;
      background-color: $brand-light;
    }
  }
  &--white-outline {
    color: inherit;
    color: $white;
    &:before {
      border: 1px solid $white;
    }
    &:hover {
      color: $brand-light;
      background-color: $white;
    }
  }
}