

.page-break {
  position: relative;
  display: block;
  margin: $s2 0;
  width: 100%;
  height: 1px;
  &:before, &:after {
    content: "";
    height: 1px;
    width: 80px;
    display: block;
    position: absolute;
    background-color: rgba($grey-darkest, 0.4);
    .theme--dark & { background-color: rgba($white, 0.4); }
  }
  &:before { left: 0; }
  &:after { right: 0; }
}



/*=============================
* HOME PAGE
*/


.hp__pane {
  position: relative;
  z-index: 0; width: 100%;
  @include bp($lg){
    position: fixed;
    top: 0; left: 0; bottom: 0;
    height: 100%;
    width: 50%;
    border-right: 1px solid rgba($white,0.2);
  }
  &__background {
    position: fixed;
    top: 0; left: 0;
    right: 0; bottom: 0;
    opacity: 0.2;
    &-image {
      position: absolute;
      top: 0; left: 0;
      right: 0; bottom: 0;
      background-position: center right;
      background-size: cover;
      background-repeat: no-repeat;
    }
    @include bp($lg){
      position: absolute;
    }
  }
  &__logo {
    opacity: 1;
    position: relative;
    width: 30%;
    margin: $s4;
    @include background-attributes;
    &:before {
      content: "";
      display: block;
      width: 100%;
      padding-top: 100%;
    }
    @include bp($lg){
      opacity: 0.33;
      position: absolute;
      top: 0; left: 0;
      width: 100%;
      margin: 0;
    }
  }
}
.hp__content {
  position: relative;
  z-index: 1;
}

.hp__offset {
  position: relative;
  width: 100%;
  &:before {
    content: "";
    display: block;
    width: 100%;
    padding-top: $s2;
  }
  @include bp($lg){
    &:before { padding-top: 22%; }
  }
}

.hp__intro {
  width: 100%;
  @include bp($lg){
    padding-left: 50%;
  }
}


.hp__work {
  width: 100%;
  @include bp($lg){
    padding-left: 40%;
  }
}

.hp__project-tile {
  position: relative;
  @include transition;
  &__link {
    position: absolute;
    left: 0; top: 0;
    right: 0; bottom: 0;
    z-index: 10;
  }
  &:hover {
    padding: 10px;
  }
}


/*=============================
* PROJECT PAGE
*/

.project {
  position: relative;
  padding-top: 65vh;
  @include bp($lg){
    padding-left: 100px;
  }
}

.project__bg {
  position: fixed;
  top: 0; left: 0;
  bottom: 0; right: 0;
  z-index: $z-background;
  &__image {
    position: absolute;
    top: 0; left: 0;
    right: 0; bottom: 0;
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
  }
}




