
/*========================================
 *  Unique element based styles
 *========================================*/



.page-bg {
  position: fixed;
  top: 0; left: 0;
  right: 0; bottom: 0;
  z-index: $z-background;
  background-color: $brand-darker;
  &__image {
    position: absolute;
    top: 0; left: 0;
    right: 0; bottom: 0;
    @include background-attributes;
  }
  &--home &__image {
    opacity: 0.2;
  }
}


.page-intro {
  padding-top: $s14;
}


.page-break {
  position: relative;
  display: block;
  margin: $s2 0;
  width: 100%;
  height: 1px;
  &:before, &:after {
    content: "";
    height: 1px;
    width: 80px;
    display: block;
    position: absolute;
    background-color: rgba($grey-darkest, 0.4);
    .theme--dark & { background-color: rgba($white, 0.4); }
  }
  &:before { left: 0; }
  &:after { right: 0; }
}


.project-tile {
  @include transition();
  position: relative;
  &__content {
    @include transition();
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    padding: 0 30px;
    height: 0;
    width: 100%;
    overflow: hidden;
    background-color: $brand-darker;
    & a { color: $white; }
  }
  &:hover &__content {
    padding: 30px;
    height: 210px;
    bottom: 0;
  }
}


.project {
  position: relative;
  z-index: 1;
  &__bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    @include background-attributes();
  }
  &__banner {
    height: 100%;
    position: relative;
    &-wrap {
      position: relative;
      z-index: 5;
      display: flex;
      width: 100%;
      height: 100%;
      flex-grow: 1;
      flex-direction: column;
      justify-content: flex-end;
      overflow: hidden;
    }
  }
  &__image {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  &__caption {
    color: $white;
    margin-top: $s2;
    padding: $s-2 $s2;
    border-bottom: 1px solid rgba($white,0.2);
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: $s-1;
    max-width: $xxl;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
  }
}


